
logs
*.log


node_modules/
npm-debug.log*
yarn-error.log*


build/
dist/
out/


package-lock.json
yarn.lock

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.user
*.suo
*.cache
*.log
*.seed
*.pid
*.log.*
*.sublime-project
*.sublime-workspace


*.pem
*.key
*.p12
*.db


.env.local
.env.development.local
.env.test.local
.env.production.local


coverage/


*.bak


.ipynb_checkpoints


.DS_Store


Thumbs.db


.eslintcache


build/Release

Dockerfile
docker-compose.yml

/.idea
.DS_Store
*.db